singularity {
    enabled     = true
    autoMounts  = true
    pullTimeout = '24.h'
    cacheDir    = '/home/bzheng/HIC/script/singularity_images'
    runOptions  = '-e' // 全局隔离环境
}

process {
    resourceLimits = [
        cpus: 48,
        memory: 512.GB,
        time: 128.h
    ]

    withName: '.*HIC_PLOT_DIST_VS_COUNTS|.*HIC_FIND_TADS' {
        container = 'docker://quay.io/biocontainers/hicexplorer:3.7.2--pyhdfd78af_1'
    }

    withName: '.*COOLTOOLS_INSULATION|.*COOLTOOLS_EIGSCIS' {
        container = '/home/bzheng/HIC/script/singularity_images/cooltools_0.5.1--py37h37892f8_0.sif'
        // 关键修改：使用 containerOptions 替代 runOptions
        containerOptions = '-e -B /home/bzheng/software/bedGraphToBigWig:/usr/local/bin/bedGraphToBigWig'
    }

    withName: 'COMBINE_MATES' {
        container = '/home/bzheng/HIC/script/singularity_images/depot.galaxyproject.org-singularity-mulled-v2-c6ff206325681cbb9c9ef890bb8de554172c0483-713df51cd897ceb893b9a6e6420f527d83c2ed95-0.img'
    }

    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        errorStrategy = 'ignore'
    }
}
