singularity {
    pullTimeout = '24.h'
    autoMounts = true
    runOptions = "--env PATH=$PATH:/home/bzheng/software"
    enabled = true
    autoMounts = true
    // 将此处修改为新的文件夹路径
    cacheDir = '/home/bzheng/HIC/script/singularity_images'
}

process {
  resourceLimits = [
    cpus: 48,
    memory: 512.GB,
    time: 128.h
  ]

withName: '.*HIC_PLOT_DIST_VS_COUNTS|.*HIC_FIND_TADS' {
        container = 'docker://quay.io/biocontainers/hicexplorer:3.7.2--pyhdfd78af_1'
    }
withName: '.*COOLTOOLS_INSULATION|.*COOLTOOLS_EIGSCIS' {
        container = 'docker://quay.io/biocontainers/cooltools:0.5.1--py37h37892f8_0'
    }
//withName: '.*COOLTOOLS_EIGSCIS' {
//        ext.args = '' 
//    }
}


params {
    // 其他已有的参数...
    res_compartments = '100000' 
}
